//settings
$panel-offset: 15px;

.panel {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	height: calc(100% - 2 * #{$panel-offset} - #{$nav-height});
	margin-top: $panel-offset;
	margin-bottom: $panel-offset;

	overflow: hidden;
}

.panel__content{
	position: relative;

	height: 100%;
}
