//settings
$preloader-color: $accent;

//rotation keyframes
@keyframes preloader {
	0% {
		transform: rotate(90deg);
	}

	100% {
		transform: rotate(450deg);
	}
}

.preloader {
	@include position-absolute($top: 0, $left: 0);
	width: 100%;
	height: 100%;

	color: $preloader-color;

	z-index: 1;
}

.preloader__icon {
	transform: rotate(95deg);

	animation: preloader 1s cubic-bezier(0.04, 1.01, 1, 1) infinite;
}
