//settings
$icon-color: $base;

.recipe-full__img {
	@include img-position($max-width: 130%, $max-height: 130%);

	width: 100%;
	height: 200px;

	overflow: hidden;
}

.recipe-full__title {
	font: {
		size: 1.4em;
	}
}

.recipe-full__info-icon {
	margin-right: 5px;

	color: $icon-color;
}
