//COLOR SETTINGS

//basic colors !!!DO NOT USE THEM DIRECTLY
$_blue-malibu: #55c2e3;

$_green-caribbean: #00BD9D;

$_orange-sunshade: #fb8d4b;

$_red-watermelon: #f9545b;

$_white: #fff;

//descriptive colors !!!USE THEM IN YOUR SETTINGS
$base: $_blue-malibu;

$accent: $_orange-sunshade;

$danger: $_red-watermelon;

$success: $_green-caribbean;

$light: $_white;
