html(lang="en")
    include includes/setup/head

    body
        //APP BODY
        .app

            //APP FRAME
            .app__frame

                //HEADER PART
                header.header

                    //NAV BLOCK
                    include includes/blocks/nav

                .container.main-container

                    .row.panel.panel-home.js-hidden
                        .col
                            //HOME BLOCK
                            include includes/blocks/home

                    .row.panel.panel-results.js-hidden
                        .col
                            //SEARCH RESULTS
                            include includes/blocks/search-results

                    .row.panel.panel-recipe
                        .col
                            //SINGLE RECIPE INFO

        script(src="scripts/scripts.min.js")
