html(lang="en")
    include includes/setup/head

    body
        //APP BODY
        .app

            //APP FRAME
            .app__frame

                //HEADER PART
                header.header

                    //NAV BLOCK
                    include includes/blocks/nav

                .container.main-container.panel

                    //preloader
                    include includes/blocks/preloader

                    .row
                        .col
                            //HOME BLOCK
                            include includes/blocks/home

                    .row
                        .col
                            //SEARCH RESULTS
                            include includes/blocks/search-results

                    .row
                        .col
                            //SINGLE RECIPE INFO
                            include includes/blocks/recipe

                    .row
                        .col
                            //FAVS
                            include includes/blocks/favs

        script(src="scripts/scripts.min.js")
