html(lang="en")
    include includes/setup/head

    body
        //APP BODY
        .app

            //APP FRAME
            .app__frame

                //HEADER PART
                header.header

                    //NAV BLOCK
                    include includes/blocks/nav

                .container.main-container

                    //PRELOADER
                    include includes/blocks/preloader

                    //CONTENT PANELS

                    //HOME BLOCK
                    .row.home-panel.panel.js-hidden
                        .col
                            include includes/blocks/home

                    //SEARCH RESULTS
                    .row.search-res-panel.panel
                        .col
                            include includes/blocks/search-results

                    //SINGLE RECIPE INFO
                    .row.recipe-panel.panel.js-hidden
                        .col
                            include includes/blocks/recipe

                    .row
                        .col
                            //- ERROR MSG
                            include includes/blocks/error

        script(src="scripts/scripts.min.js")
