html(lang="en")
    include includes/setup/head

    body
        //APP BODY
        .app

            //APP FRAME
            .app__frame

                //HEADER PART
                header.header

                    //NAV BLOCK
                    include includes/blocks/nav

                .container.main-container

                    .row
                        .col
                            //HOME BLOCK
                            include includes/blocks/home

        script(src="scripts/scripts.min.js")
