//-FAVS PANEL
.favs.panel__content.js-hidden

    //return button
    include return-btn

    //favs list
    .favs__list

        //single fav recipe
        include recipe-card

        //single fav recipe
        include recipe-card

        //single fav recipe
        include recipe-card

        //single fav recipe
        include recipe-card
