//-HOME BLOCK (VISIBLE IF NO SEARCH)
.home

    //preloader
    .home__preloader.preloader
        .preloader__icon.icon.icon--lg.m-auto
            svg
                use(xlink:href="./assets/sprites/sprites-solid/svg/sprite.symbol.svg#loader")

    //logo block
    .home__logo

        .logo
            .logo__icon.icon.icon--md
                svg
                    use(xlink:href="./assets/sprites/sprites-colored/svg/sprite.symbol.svg#logo")

            .logo__text Reci
                span.logo__accent pery

    //search
    .home__search

        form.form.search.search-home.d-flex.align-items-center
            input.search-nav__input.search__input.form-control(type="email" placeholder="Search over 1M recipes!")
            button.search__btn.search-home__btn.btn.btn--iconed.d-inline-flex.align-items-center.ml-2(type="button" title="Search")
                i.material-icons search

