//-HOME BLOCK (VISIBLE IF NO SEARCH)
.home.d-flex.flex-column.align-items-center.justify-content-center

    //logo block
    .home__logo

        .logo
            .logo__icon.logo__icon--md
                svg
                    use(xlink:href="./assets/sprites/sprites-colored/svg/sprite.symbol.svg#logo")

            .logo__text.logo__text--md Reci
                span.logo__accent pery

    //search
    .home__search.mt-5

        form.form.search.search-home.d-flex.align-items-center
            input.search-home__input.search__input.form-control(type="email" placeholder="Search over 1M recipes!")
            button.search__btn.search-home__btn.btn.btn--iconed.d-inline-flex.align-items-center.ml-2(type="button" title="Search")
                i.material-icons search

