//-HOME BLOCK (VISIBLE IF NO SEARCH)
.home

    //logo block
    .home__logo

        .logo
            .logo__icon.icon.icon--md
                svg
                    use(xlink:href="./assets/sprites/sprites-colored/svg/sprite.symbol.svg#logo")

            .logo__text Reci
                span.logo__accent pery

