//-NAVIGATION BLOCK
nav.nav

    .container.d-flex.justify-content-between.align-items-center

        //logo
        .logo.logo__nav

            .logo__icon.logo__icon--sm
                svg
                    use(xlink:href="./assets/sprites/sprites-colored/svg/sprite.symbol.svg#logo")

            .logo__text.logo__text--sm Reci
                span.logo__accent pery


        //buttons block (likes and shopping list)
        .btns

            button.to-fav.btn.btn--iconed.d-inline-flex.align-items-center(type="button" title="Favourite")
                i.material-icons favorite

