//-PAGINATION BLOCK
ul.pagination.justify-content-between

    li.pagination__item.page-item.disabled
        a.pagination__link.page-link(href="#" tabindex="-1") Prev

    li.pagination__item.page-item
        a.pagination__link.page-link(href="#" tabindex="1") Next
