//-PRELOADER
.preloader.d-flex.align-items-center.justify-content-center
    .preloader__icon.icon.icon--lg.m-auto
        svg
            use(xlink:href="./assets/sprites/sprites-solid/svg/sprite.symbol.svg#loader")
