//-SINGLE RECIPE
.recipe-full.panel__content

    //return button
    include return-btn

    //preloader
    include preloader

    //recipe content
    .recipe-full__content

        //recipe image
        .recipe-full__img
            img(src="./assets/img/test-card-img.jpg" alt="Test Img")

        //recite title
        h3.recipe-full__title Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs
