//-SINGLE RECIPE
.recipe-full.panel__content

    //return button
    include return-btn

    //preloader
    include preloader

    //recipe content
    .recipe-full__content

        //recipe image
        .recipe-full__img
            img(src="./assets/img/test-card-img.jpg" alt="Test Img")

        //recite title
        h3.recipe-full__title Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs

        //recipe info (servings and ready-in mins )
        .recipe-full__info.d-flex.align-items-center

            //ready-in mins
            .ready-in-mins.d-flex.align-items-center.mr-3

                .ready-in-mins__icon.icon.icon--xs
                    svg
                        use(xlink:href="./assets/sprites/sprites-solid/svg/sprite.symbol.svg#clock")

                span.ready-in-mins__content 45

            //servings
            .servings.d-flex.align-items-center

                .servings__icon.icon.icon--xs
                    svg
                        use(xlink:href="./assets/sprites/sprites-solid/svg/sprite.symbol.svg#cutlery")

                span.servings__content 4

        //recipe ingredients list
        .recipe-full__ingreds-list

            //single ingredient
            .recipe-full__ingred.card.d-flex

                img.recipe-full__ingred-img.card-img(src="./assets/img/test-card-img.jpg" alt="Test Card Image")

                .recipe-full__ingred-content.card-body

                    p 1 tbsp butter

            //single ingredient
           .recipe-full__ingred.card.d-flex

               img.recipe-full__ingred-img.card-img(src="./assets/img/test-card-img.jpg" alt="Test Card Image")

               .recipe-full__ingred-content.card-body

                   p 1 tbsp butter
