//-SINGLE RECIPE
.recipe-full.panel__content

    //return button
    include return-btn

    //preloader
    .recipe-full__preloader.preloader.d-flex.align-items-center.justify-content-center.js-hidden
        .preloader__icon.icon.icon--lg.m-auto
            svg
                use(xlink:href="./assets/sprites/sprites-solid/svg/sprite.symbol.svg#loader")

    //recipe content
    .recipe-full_content
