//-SINGLE RECIPE
.recipe-full.panel__content

    //return button
    include return-btn

    //recipe content
    .recipe-full__content

        .recipe-full__content-inner.js-hidden
            //recipe image
            .recipe-full__img
                img(src="" alt="")

            //recite title
            h3.recipe-full__title.mt-3

            //recipe info (servings and ready-in mins )
            .recipe-full__info.d-flex.align-items-center.mt-3

                //ready-in mins
                .ready-in-mins.recipe-full__info-block.d-flex.align-items-center.mr-3

                    .ready-in-mins__icon.recipe-full__info-icon.icon.icon--xs
                        svg
                            use(xlink:href="./assets/sprites/sprites-solid/svg/sprite.symbol.svg#clock")

                    span.ready-in-mins__content.recipe-full__info-content

                //servings
                .servings.recipe-full__info-block.d-flex.align-items-center

                    .servings__icon.recipe-full__info-icon.icon.icon--xs
                        svg
                            use(xlink:href="./assets/sprites/sprites-solid/svg/sprite.symbol.svg#cutlery")

                    span.servings__content.recipe-full__info-content

            //recipe ingredients list
            .recipe-full__ingreds-list.mt-3

                //single ingredient
                .recipe-full__ingred.card.d-flex.js-hidden

                    .recipe-full__ingred-img.card-img
                        img(src="" alt="")

                    .recipe-full__ingred-content.card-body
                        p


            .recipe-full__btns.mt-3

                a.recipe-full__more.btn.btn--text(href="" title="Learn More" target="_blank") Check Full Recipe
