//-SEARCH RESULT
figure.recipe-card.card.d-flex.js-hidden

    .recipe-card__img.card-img
        img(src="assets/img/default-food.jpg" alt="")

    .recipe-card__content.card-body
        h5.recipe-card__title.card-title Recipe Title

        .recipe-card__btns

            button.recipe-card__more.btn.btn--text(type="button" title="View More") View More


