//-SEARCH RESULT
figure.recipe-card.card.d-flex

    img.recipe-card__img.card-img(src="./assets/img/test-card-img.jpg" alt="Test Card Image")

    .recipe-card__content.card-body
        h5.card-title Test Recipe
        p.card-text Lorem ipsum dolor sit amet, consetetur sadipscing.

        .recipe-card__btns

            button.recipe-card__more.btn.btn--text(type="button" title="View More") View More

            button.recipe-card__to-fav.btn.btn--iconed.d-inline-flex.align-items-center.ml-3(type="button" title="Favourite")
                i.material-icons favorite_border

