//-SEARCH RESULT
figure.recipe-card.card.d-flex.js-hidden

    .recipe-card__img.card-img
        img(src="" alt="")

    .recipe-card__content.card-body
        h5.recipe-card__title.card-title

        .recipe-card__btns

            button.recipe-card__more.btn.btn--text(type="button" title="View More") View More

            button.recipe-card__to-fav.btn.btn--iconed.d-inline-flex.align-items-center.ml-3(type="button" title="Favourite")
                i.icon-like.material-icons favorite_border
                i.icon-dislike.js-hidden.material-icons favorite

