//-SEARCH RESULTS (VISIBLE IF SEARCH)
.search-results.panel__content

    //preloader
    .search__preloader.preloader
        .preloader__icon.icon.icon--lg.m-auto
            svg
                use(xlink:href="./assets/sprites/sprites-solid/svg/sprite.symbol.svg#loader")
