//-SEARCH RESULTS (VISIBLE IF SEARCH)
.search-results.panel__content.js-hidden

    //return button
    include return-btn

    //search results
    .search-results__results

        //search result
        include recipe-card

        //search result
        include recipe-card

        //search result
        include recipe-card

        //search result
        include recipe-card

