//-SEARCH RESULTS (VISIBLE IF SEARCH)
.search-results.panel__content

    //return button
    include return-btn

    //preloader
    include preloader

    //search results
    .search-results__results

        //search result
        include search-result

        //search result
        include search-result

        //search result
        include search-result

        //search result
        include search-result

