//-SEARCH RESULTS (VISIBLE IF SEARCH)
.search-results.panel__content

    //return button
    include return-btn

    //search results
    .search-results__results

        //search result
        include recipe-card

        //pagination
        include pagination 


