//-SEARCH RESULTS (VISIBLE IF SEARCH)
.search-results.panel__content

    //return button
    include return-btn

    //preloader
    .search-results__preloader.preloader.d-flex.align-items-center.justify-content-center.js-hidden
        .preloader__icon.icon.icon--lg.m-auto
            svg
                use(xlink:href="./assets/sprites/sprites-solid/svg/sprite.symbol.svg#loader")

    //search results
    .search-results__results

        //search result
        include search-result

        //search result
        include search-result

        //search result
        include search-result

        //search result
        include search-result

